
<%- include("partials/header"); -%>


    <h1><%=title%></h1>
    <p><%=content%></p>
    <% if (author) { %> <em><%=author%></em>
        <% } else { %> <em>Anonimo </em>
            <% } %>



<%- include("partials/footer"); -%>
